apiVersion: v1
kind: Service
metadata:
  name: calendar-backend
  namespace: {{ K8S_NAMESPACE }}
  labels:
    app: calendar-backend
spec:
  type: ClusterIP
  selector:
    app: calendar-backend
  ports:
    - name: http
      port: 3001
      targetPort: 3001
