apiVersion: v1
kind: Service
metadata:
  name: mongo-db
  namespace: {{ K8S_NAMESPACE }}
  labels:
    app: mongodb
spec:
  type: ClusterIP
  selector:
    app: mongodb
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017
