apiVersion: v1
kind: Secret
metadata:
  name: app-env
  namespace: {{ K8S_NAMESPACE }}
  labels:
    app.kubernetes.io/name: calendar-app
    app.kubernetes.io/part-of: calendar
    app.kubernetes.io/component: secrets
type: Opaque
stringData:
  # Mongo
  MONGO_INITDB_USERNAME: "{{ MONGO_INITDB_USERNAME }}"
  MONGO_INITDB_PASSWORD: "{{ MONGO_INITDB_PASSWORD }}"
  # Backend
  MONGO_DB_NAME: "{{ MONGO_DB_NAME }}"
  MONGO_URL: "{{ MONGO_URL if 'authSource=' in MONGO_URL else (MONGO_URL ~ ('&' if '?' in MONGO_URL else '?') ~ 'authSource=admin') }}"
  JWT_SEED: "{{ JWT_SEED }}"
  PORT: "{{ PORT | default(3001) }}"
  # Frontend
  VITE_API_URL: "{{ VITE_API_URL | default('/api') }}"
