apiVersion: v1
kind: Service
metadata:
  name: sonarqube-docker-ext
  namespace: {{ K8S_NAMESPACE }}
spec:
  # Service sin selector: usará Endpoints manuales
  ports:
    - name: http
      port: {{ SONARQUBE_PORT }}
      targetPort: {{ SONARQUBE_PORT }}
      protocol: TCP
