apiVersion: v1
kind: Endpoints
metadata:
  name: sonarqube-docker-ext
  namespace: {{ K8S_NAMESPACE }}
subsets:
  - addresses:
      - ip: {{ sonarqube_target_ip }}
    ports:
      - port: {{ SONARQUBE_PORT }}
        name: http
