apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sonarqube-docker-ingress
  namespace: {{ K8S_NAMESPACE }}
  annotations:
    kubernetes.io/ingress.class: public
spec:
  ingressClassName: public
  rules:
    - host: {{ SONARQUBE_HOST }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: sonarqube-docker-ext
                port:
                  number: {{ SONARQUBE_PORT }}
