apiVersion: v1
kind: Secret
metadata:
  name: sonarqube-db-secret
  namespace: {{ SONAR_NAMESPACE }}
type: Opaque
stringData:
  POSTGRES_USER: {{ SONAR_DB_USER }}
  POSTGRES_PASSWORD: {{ SONAR_DB_PASSWORD }}
  POSTGRES_DB: {{ SONAR_DB_NAME }}