# Copia este archivo a env.yml y completa los valores.

MONGO_INITDB_USERNAME: ""
MONGO_INITDB_PASSWORD: ""
MONGO_DB_NAME: ""
MONGO_URL: "mongodb://<user>:<pass>@mongo-db:27017/"

# Genere el JWT_SEED con este comando "openssl rand -hex 32"
JWT_SEED: ""
PORT: 3001
VITE_API_URL: "/api"

# Levantar Agent
AZP_URL: ""
AZP_TOKEN: ""
AZP_POOL: ""
AZP_AGENT_NAME: ""
